<!-- Comment Box -->
<h3 class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-8 col-md-8 col-sm-9 col-3 " style="text-decoration: underline overline; text-align: center; font-weight: 500px; color: white;">Comments</h3>
<br>
<div class="offset-lg-2 offset-md-2 offset-sm-2 col-lg-8 col-md-8 col-sm-9 col-3 " style="background-color: white; box-shadow: 5px 10px 8px 10px #020125">
    <div class="modal-header">
        <h5 style="font-size: 180%; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="modal-title col-lg-3" id="exampleModalCenterTitle">Inovative Ideas</h5>

        <div class="container h-100 col-lg-7 offset-lg-2">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <input class="search_input" type="text" name="" placeholder="Search...">
                    <a class="search_icon"><i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "><span style="padding: 4px; border: 1px solid #4285F4; border-radius: 50px; color: #4285F4; font-weight: bold;">Comment</span>
                <span style="font-family: 'Courier New', Courier, monospace; text-decoration: underline; font-weight: bold;">Bhanu Gudheniya</span>
                <p style="margin-left: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hello InterNexus</p>
            </div>
            <br>
            <div>
                <img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "><span style="padding: 4px; border: 1px solid #DB4437; border-radius: 50px; color: #DB4437; font-weight: bold;">Reply</span>
                <span style="font-family: 'Courier New', Courier, monospace; text-decoration: underline; font-weight: bold;">Intern Nexus</span>
                <p style="margin-left: 7%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hello Bhanu Gudheniya</p>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>