.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .bottom-centered {
    position: absolute;
    bottom: 8px;
    right: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
  }