<div class="container col-lg-10 offset-lg-2 col-md-8 offset-2 col-sm-6 offset-sm-3" style="float: left;">
    <div class="row">
        <div id="card1" class="card mb-3 col-lg-3 offset-lg-2 col-md-12 offset-md-2 col-sm-12 offset-sm-2" style="background: linear-gradient(135deg, #23bdb8 0, #43e794 100%) !important; max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Visitors</div>
            <div class="card-body text-primary">
                <h5 class="card-title"><i class="far fa-eye"></i> 1000</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: 18%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">18% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card2" class="card mb-3 col-lg-3" style="max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">User Login</div>
            <div class="card-body text-secondary">
                <h5 class="card-title"> <i class="fas fa-user-tie"></i> 880</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">45% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card3" class="card mb-3 col-lg-3" style="max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Total User</div>
            <div class="card-body text-success">
                <h5 class="card-title"><i class="fas fa-users"></i> 1500</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">35% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card4" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Active Users</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-smile"></i> 2000</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">50% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card5" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Loss</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-frown"></i> $10,000</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">10% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card6" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Profit</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="fas fa-money-check-alt"></i> $20,000</h5>
                <div class="progress" style="height: 3px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="card-text" style="color: white;">30% Higher Then Last Month</p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Pie Chart -->
<div class="container-fluid col-lg-3 offset-lg-2 col-md-10 offset-md-3 col-sm-7 offset-sm-3" style="float: left;">
    <div class="row">
        <div id="card" class="card mb-3 col-lg-12 offset-lg-1" style="float: left; background-image: linear-gradient(to right top, #030332, #010b38, #00113f, #001546, #00194d, #00194c, #00184c, #00184b, #001442, #000f39, #010831, #000029); max-width: 18rem; float: left; margin: 2%; box-shadow: 5px 10px 8px 10px #020125;">
            <div style="font-size: 250%; color: white;">Profile Ratio</div>
            <div class="pie offset-lg-1">
                <div class="offset-lg-2" style="margin-top: 20%;">
                    <ul>
                        <li style="font-size: 200%; color: #5b668a;">Visitor</li>
                        <li style="font-size: 200%; color: #6610f2;">Profit</li>
                        <li style="font-size: 200%; color: #1cc88a;">User</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- Image -->
<div class="container col-lg-10 offset-lg-1 col-md-7 offset-md-1 col-sm-7 offset-sm-1">
    <div class="row col-lg-3 offset-lg-6 col-md-10 offset-md-1 col-sm-10 offset-sm-1">
        <img src="../../assets/images/graph1.jpg" width="180%;" height="400px;">
    </div>
</div>

<br>
<br>

<!-- table -->
<br>
<br>
<h3 class="offset-lg-4 offset-md-2 offset-sm-2  col-lg-4 col-md-8 col-sm-9 col-3 " style="text-decoration: underline overline; text-align: center; font-weight: 500px; color: white;">User Details</h3>
<br>
<div class="table-responsive container col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1" style="background-size: auto; box-shadow: 5px 10px 8px 10px #020125">
    <table class="table col-lg-10 offset-lg-1 col-md-8 offset-md-1 col-sm-8 offset-sm-1">
        <thead class="thead-dark ">
            <tr>
                <th scope="col">Profile</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Course</th>
                <th scope="col">Achievement</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">001</td>
                <td class="text ">Vikas Joshi</td>
                <td class="text ">max12yu123@gmail.com</td>
                <td class="text ">
                    <li>AI</li>
                    <li>Android</li>
                </td>
                <td class="text ">Basic
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">002</td>
                <td class="text ">Ashish Sharma</td>
                <td class="text ">ashishsharma@1245gmail.com </td>
                <td class="text ">
                    <li>Python</li>
                    <li>Mean Stack</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">003</td>
                <td class="text ">Bhanu Gudheniya </td>
                <td class="text ">bhanugudheniya1409@gmail.com</td>
                <td class="text ">
                    <li>Artificial Intelligence</li>
                    <li>Full Stack</li>
                    <li>Cyber Security</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">004</td>
                <td class="text ">Shilpi Tyagi</td>
                <td class="text ">shilpityagi0011@gmail.com</td>
                <td class="text ">
                    <li>Java</li>
                    <li>Cyber Security</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">005</td>
                <td class="text ">Muskaan Lagwal</td>
                <td class="text ">muskaanlagwal123@gmail.com</td>
                <td class="text ">
                    <li>Advance Java</li>
                    <li>Android</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">006</td>
                <td class="text ">Simran Bhogal</td>
                <td class="text ">simranbhogal99@gmail.com</td>
                <td class="text ">
                    <li>Mean Stack</li>
                    <li>React Native</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">007</td>
                <td class="text ">Garima</td>
                <td class="text ">garimasharma2589@gmail.com</td>
                <td class="text ">
                    <li>Mean Stack</li>
                    <li>React Native</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">008</td>
                <td class="text ">Kamal Kathuria</td>
                <td class="text ">kamalkathuria123@gmail.com</td>
                <td class="text ">
                    <li>Advance Java</li>
                    <li>Mean Stack</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">009</td>
                <td class="text ">Max Sharma</td>
                <td class="text ">max12yu123@gmail.com</td>
                <td class="text ">
                    <li>AI</li>
                    <li>Android</li>
                </td>
                <td class="text ">Intermediate
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                <td class="text ">010</td>
                <td class="text ">Shobit Khatri</td>
                <td class="text ">shobitkhatri123@gmail.com</td>
                <td class="text ">
                    <li>Advance Java</li>
                    <li>Android</li>
                </td>
                <td class="text ">Advance Pro
                    <div class="progress" style="height: 3px;">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </td>
            </tr>

    </table>
</div>
<hr class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-8 col-md-8 col-sm-9 col-3 " style="background-color:rgb(139, 139, 139); width: 80%; height: 3px; border-radius: 2px;">

<br>
<br>

<!-- Email -->
<h3 id="head1" class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-8 col-md-8 col-sm-9 col-3 " style="text-decoration: underline overline; text-align: center; font-weight: 500px; color: white;">Notification</h3>
<br>
<div class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-8 col-md-8 col-sm-9 col-3 " style="background-color: white; box-shadow: 5px 10px 8px 10px #020125">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Quick Mail with GMAIL</h5>
    </div>
    <div class="modal-body">
        <div>
            <form>
                <div class="form-group">
                    <label>To : </label>
                    <input type="text" class="form-control" name="title" placeholder="Cc Bcc">
                </div>
                <div class="form-group">
                    <label>Subject : </label>
                    <input type="text" class="form-control" name="subtitle" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea rows="5" class="form-control" name="content" placeholder="Enter your Message" style="resize: none;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<br>
<hr class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-8 col-md-8 col-sm-9 col-3 " style="background-color:rgb(139, 139, 139); width: 80%; height: 3px; border-radius: 2px;">
<br>
<br>



<!--  -->
<!-- <script type="text/javascript ">
    function boldText() {
        var target = document.getElementById("TextArea ");
        if (target.style.fontWeight == "bolder ") {
            target.style.fontWeight = "normal ";
        } else {
            target.style.fontWeight = "bolder ";
        }
    }



    function italicText() {
        var target = document.getElementById("TextArea ");
        if (target.style.fontStyle == "italic ") {
            target.style.fontStyle = "normal ";
        } else {
            target.style.fontStyle = "italic ";
        }
    }

    function underlineText() {
        var target = document.getElementById("TextArea ");
        if (target.style.textDecoration == "underline ") {
            target.style.textDecoration = "none ";
        } else {
            target.style.textDecoration = "underline ";
        }
    }
</script>

-->


<!-- <div id="editor1 " contenteditable="true ">
    The quick brown fox jumped over the lazy dog.
</div>
<fieldset>
    <button class="fontStyle " onclick="document.execCommand( 'italic',false,null); " title="Italicize Highlighted Text "><i>I</i>
      </button>
    <button class="fontStyle " onclick="document.execCommand( 'bold',false,null); " title="Bold Highlighted Text "><b>B</b>
      </button>
    <button class="fontStyle " onclick="document.execCommand( 'underline',false,null); "><u>U</u>
      </button>
</fieldset> -->


<!-- ///////////////////////////////////////////////////////////// -->